@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

$background: #a4eba4;
$secondary: #004900;
$text: #000;
$shade: #ff8800;

$navsize: 3.5rem;
$sidebar-width: 250px;
$main-content-margin: 1rem;
$footer-size: 4rem;