{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="./css/landing.scss">
{% endblock %}
{% block body %}
<div class="hero">
  <div class="content">
    <h1>KisanSevak</h1>
    <span>The future farmer's best friend.</span>
    <span>
      <button class="landing-login-popper-1">Login</button>
      <button class="landing-signup-popper-1">Sign Up</button>
    </span>
  </div>
  <div class="video">
    <video src="./public/assets/seeds.mp4" autoplay muted loop></video>
  </div>
</div>

<div class="rest-container">
  <div class="rest">
    <h1>Leveraging ML to Nurture Your Field</h1>
    <h2>Over months of training models we have <strong>perfected your needs</strong>.</h2>
    <span>Experience a new era in farming where technology meets tradition. Our models, honed over months of meticulous
      training, cater to your specific needs, ensuring optimal crop selection, yield predictions, and market
      insights.</span>
  </div>
  <div class="rest">
    <h1>Precision at its Finest</h1>
    <span>Our cutting-edge machine learning algorithms offer in-depth analysis of soil health, climate patterns, and
      historical data, empowering you with accurate decision-making capabilities. Say goodbye to uncertainties; embrace
      data-driven farming.</span>
  </div>
  <div class="rest">
    <h1>Market Trends Unveiled</h1>
    <span>Unlock the secrets of the agricultural market with our advanced forecasting system. We pride ourselves on
      being the go-to solution for precise market price comparisons, enabling you to make informed choices and maximize
      your profits.</span>
  </div>
  <div class="rest">
    <h1>Embark on Your Agricultural Odyssey</h1>
    Elevate your farming journey with us. Seize the opportunity to boost your yield, enhance your profits, and
    contribute to a sustainable future. The path to success starts here.
    <span>
      <button class="landing-login-popper-2">Login</button>
      <button class="landing-signup-popper-2">Sign Up</button>
    </span>
  </div>
</div>
<footer>
  Shreerang Vaidya &dot; Jatin Navani &dot;
  Samarth Nilkanth &dot; Anjali Thakrani
</footer>

<script type="module" src="./src/landing.js"></script>
{% endblock %}